.select {
  width: 100%;
}

.react-select-container {
  width: 100%;
  color: black;
  max-width: 350px;
}

.react-select--menu {
  min-height: 1rem;
  height: 2rem;
  background: green;
  color: black;
}
