/.eslintcache

/node_modules/

package-lock.json

# Emacs Temp/Autosaves
*~
\#*\#
.#*.*
*_flymake*

.DS_Store

# Ignore secret stuff like DB credentials etc...
.env

# .vscode local config
.vscode

# Ignore Jests __snapshots__ folders which are created when running tests
__snapshots__


# client/
client/node_modules/
client/.next/
client/dist/
client/out/
client/.cache/
