.wrapper {
  display: block;
  margin: 12px 0;
  padding: 12px 0;
  border-bottom: 2px solid $g-grey-900;
  color: $g-white;
  background-color: $g-grey-900;
}

.header {
  padding: 12px 6px;
  border-bottom: 1px solid $g-grey-500;
}

.content {
  padding: 6px 12px;
}

.footer {
  padding: 6px;
  padding-bottom: 0;
  //   background-color: $g-grey-700;
}
