.wrapper {
  display: block;
  margin: 24px 0;
  padding: 0;
  border-bottom: 2px solid $g-grey-900;
  color: $g-white;
  background-color: $g-grey-900;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;

  border-bottom: 1px solid $g-grey-500;
}

.content {
  padding: 24px 12px;
}

.date {
  font-size: 12px;
}

.edited {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
  font-size: 12px;
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-top: 1px solid $g-grey-500;
  background-color: $g-grey-1000;
  padding: 12px;
}

.dateWrapper {
  p {
    margin: 0;
    padding: 0;
  }
}

.editDeleteWrapper {
  > * {
    margin-left: 16px;
  }
}
