.header {
  position: relative;
  top: 0;
  width: 100vw;
  min-height: 80px;
  margin: 0;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $g-grey-700;
  color: white;
  display: flex;

  @media $phabletDown {
  }
}

.innerWrapper {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  align-self: flex-end;
  text-align: right;

  @media $phabletDown {
    width: 100%;
  }
}

.logo {
  color: $g-white;
}

.username {
  position: absolute;
  left: 16px;
  top: 8px;
  margin: 0;
  color: $g-white;
}

.hamburger {
  position: absolute;
  right: 16px;
  top: 24px;
}

.headerLinks {
  display: flex;
  justify-content: flex-end;

  div {
    margin-right: 16px;
  }
}
