.wrapper {
  margin-bottom: 16px;

  &:not(.preview) {
    min-height: 100vh;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    margin: 0 0 24px 0;
  }
}

.likes {
  width: 100%;
  margin-bottom: 16px;
  text-align: right;
  color: $g-white;

  > * {
    display: inline-block;
  }

  span {
    margin-left: 4px;
  }
}

.tagWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px;
  margin-bottom: 12px;
  background-color: $g-grey-900;
}

.tag {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 0 4px;
  background-color: $g-grey-600;
  color: $g-white;
}

.codeSampleWrapper {
  margin: 16px 0;
  padding: 6px;
  background-color: $g-grey-700;

  .preview & {
    max-height: 60px;
    overflow: hidden;
  }
}

.codeSample {
  white-space: pre-wrap;
}
