.wrapper {
  margin-bottom: 16px;

  &:not(.preview) {
    min-height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    margin: 0 0 24px 0;
  }
}

.codeSampleWrapper {
  margin: 24px 0;
  padding: 6px;
  background-color: $g-grey-700;

  .preview & {
    max-height: 60px;
    overflow: hidden;
  }
}

.codeSample {
  white-space: pre-wrap;
}

.description {
  background-color: $g-grey-900;
  padding: 12px;
}

.likeWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.commentsWrapper {
  width: 100%;

  span {
    width: inherit;
  }
}

.innerCommentsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.writeCommentButton {
  color: $g-white;
}

.tagWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px;
  margin-bottom: 12px;
  background-color: $g-grey-900;
}
