:root {
  --orange: $g-yellow;
  $blue: $g-blue;
  $red: $g-red;
}

.button {
  border: none;
  background: #f1f1f1;
  box-shadow: 0 4px 8px hsla(0, 0%, 10%, 0.1);
  padding: 6px 12px;
  border-radius: 4px;
  height: 2rem;

  &.rounded {
    border-radius: 16px;
  }

  &.fullWidth {
    width: 100%;
  }
}

.example {
  background-color: var(--orange);
}

.header {
  color: $blue;
}
