.tag {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 0 4px;
  background-color: $g-grey-600;
  color: $g-white;
}

.clickable {
  cursor: pointer;
}
