:root {
  $grey: $g-grey-800;
  $transparent-grey: hsla(0, 0%, 29%, 0.5);
  //   color: #4b4b4b
}

.default {
  color: $g-white;
  padding: 24px;
  background-color: $grey;
  border-radius: $g-borderRadius-default;
  box-shadow: 0 2px 16px 4px hsla(0, 0%, 0%, 0.2);
  min-height: 120px;
  min-width: 50vw;

  &.center {
    display: flex;
    // flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between;
    // justify-content: center;
    align-items: center;
  }

  &.transparent {
    background-color: $transparent-grey;
  }

  @media $phabletDown {
    width: 100%;
  }
}

/* prettier-ignore */
@for $i from 1 to 24 {
  .spacing_$(i) > * {
    margin: calc(4 * $(i))px 0;
  }
}
