:root {
  $black: $g-black;
  $background-blue: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  // overflow: hidden;

  &.default {
    background-color: #8ec5fc;
    background-image: $background-blue;
  }
}

.content {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  > * {
    max-width: 1200px;
    margin: 0;
    padding: 0;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &:not(.fullScreen) {
    padding-top: 80px;
    @media $phabletDown {
      padding: 24px;
    }
  }
}

.aside {
  position: absolute;
  right: 0;
  width: 200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: $black;
}
