:root {
  $black: $g-black;
  $background-blue: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &.default {
    background-color: #8ec5fc;
    background-image: $background-blue;
  }
}

.header {
  position: relative;
  top: 0;
  width: 100vw;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
}

.content {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  height: 100%;
  width: 100%;

  > * {
    max-width: 1200px;
    margin: 0;
    padding: 0;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  @media $phabletDown {
    padding: 24px;
  }
}

.aside {
  position: absolute;
  right: 0;
  width: 200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: $black;
}
