.wrapper {
  position: relative;
}

.input {
  border: 2px solid $g-softBlue;
  background: none;
  min-height: 1.5rem;
  padding: 6px 12px;
  border-radius: 4px;
}

// .input {
//   border: none;
//   min-height: 1.5rem;
//   padding: 6px 12px;
//   border-radius: 4px;
// }

.label {
  position: absolute;
  color: rgb(71, 71, 71);
  top: 8px;
  // top: -18px;
  left: 12px;
  transition: 0.4s ease-out;
  pointer-events: none;

  &.isActive {
    transform: translateY(-16px) scale(0.7);
  }
}

.rounded {
  border-radius: 16px;
}
