.wrapper {
  position: relative;
}

.input {
  border: 2px solid $g-softBlue;
  background: none;
  min-height: 1.5rem;
  padding: 6px 12px;
  border-radius: 4px;
}

.labelWrapper {
  position: absolute;
  width: 100%;
  max-width: 100%;
  padding: 6px 12px;
  color: rgb(71, 71, 71);
  left: 0;
  top: 2px;
  transition: 0.2s ease-out;
  pointer-events: none;
  transform-origin: left;
  white-space: nowrap;

  &.isActive {
    display: flex;
    justify-content: flex-start;
    transform: translateY(-28px) scale(0.8);
  }
}

.rounded {
  border-radius: 16px;
}
