.root {
  display: inline-flex;
  text-decoration: none;
  color: $g-blue;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  > :nth-child(2) {
    margin-left: 8px;
  }
}

.inheritColor {
  &,
  &[href]:hover {
    color: inherit;
  }
}
